.add-task-page{
  color: $baseColor;

  *:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  label{
    font-size: 13px;
    margin-top: 6px!important;
    margin-bottom: 2px!important;
  }

  textarea{
    height: 100px;
    resize: none;
  }

  .min-btn{
    background-color: #eeeaea;
    color: black;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
  }

  button[type='submit']{
    background-color: #eeeaea;
    border-radius: 4px;
    padding: 5px;
    margin: 10px 0 10px 0;
  }

}
