.add-task-page{
  color: $baseColor;

  textarea{
    height: 100px;
    resize: none;
  }

  .min-btn{
    background-color: #eeeaea;
    color: black;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
  }
}
