// Abstract
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

// Base
@import "base/reset";
@import "base/typography";

// Layouts
@import "layout/header";
@import "layout/sidebar";

// Pages
@import "pages/Client/clients";
@import "pages/Client/edit-client";
@import "pages/dashboard";
@import "pages/databases";
@import "pages/logs";
@import "pages/RemoteMachines/remote-machines";
@import "pages/settings";
@import "pages/support";
@import "pages/Task/tasks";
@import "pages/Task/new-task";
//Icons
@import "../icons/iconsmind/iconsmind.css";


body{
  background-color: #F2F3F9;
}

.content{
  overflow: auto;
  margin-top: 45px;
  margin-left: 120px;
  padding: 10px;
}

.list-group{
  border-radius: 0;
}

.title{
  font-family: Roboto;
  width: 500;
  font-size: 13px;
}

.text-purple{
  color: $baseColor !important;
}

.min-btn{
  background-color: #eeeaea;
  color: black;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
}

input{
  height: 33px;
  font-size: 14px!important;
  background-color: #f7f7f7 !important;
  border-radius: 3px!important;
}

select{
  height: 33px;
  font-size: 14px!important;
  background-color: #f7f7f7 !important;
  border-radius: 3px!important;
}

textarea{
  font-size: 14px!important;
  background-color: #f7f7f7 !important;
  border-radius: 3px!important;
}

option{
  font-size: 14px!important;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7 !important;
  border-radius: 3px!important;
}

form{
  border-radius: 5px;
}

input:focus{
  border: 1px solid #e5e4e4;
  border-color: $baseColor;
}

select:focus{
  border: 1px solid #e5e4e4;
  border-color: $baseColor;
}

textarea:focus{
  border: 1px solid #e5e4e4;
  border-color: $baseColor;
}

*:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

label{
  font-size: 13px;
  margin-top: 6px!important;
  margin-bottom: 2px!important;
}

hr{
  color: #9d9d9d;
}

button[type='submit']{
  background-color: #eeeaea;
  border-radius: 4px;
  padding: 5px;
  margin: 10px 0 10px 0;
}

.data-row{
  height: 50px;
  margin: 6px 0 6px 0;
  background-color: $white;
  border-radius: 4px;
}

.active-page{
  color: black!important;
}

.dropdown-menu{
  font-size: 13px;
  outline: none !important;
}
.btn-check:focus + .btn, .btn:focus {
  outline: none !important;
  outline: none !important;
  outline-offset: -2px;
  box-shadow: none!important;
}
