// Abstract
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

// Base
@import "base/reset";
@import "base/typography";

// Layouts
@import "layout/header";
@import "layout/sidebar";

// Pages
@import "pages/clients";
@import "pages/dashboard";
@import "pages/databases";
@import "pages/logs";
@import "pages/remote-machines";
@import "pages/settings";
@import "pages/support";
@import "pages/Task/tasks";
@import "pages/Task/add-task";
//Icons
@import "../icons/iconsmind/iconsmind.css";


body{
  background-color: #F2F3F9;
}
.content{
  overflow: auto;
  margin-top: 45px;
  margin-left: 120px;
  padding: 10px;
}

.list-group{
  border-radius: 0;
}

.title{
  font-family: Roboto;
  width: 500;
  font-size: 13px;
}

input{
  height: 33px;
  font-size: 14px!important;
  background-color: #f7f7f7 !important;
  border-radius: 3px!important;
}

select{
  height: 33px;
  font-size: 14px!important;
  background-color: #f7f7f7 !important;
  border-radius: 3px!important;
}

textarea{
  font-size: 14px!important;
  background-color: #f7f7f7 !important;
  border-radius: 3px!important;
}

option{
  font-size: 14px!important;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7 !important;
  border-radius: 3px!important;
}

form{
  border-radius: 5px;
}

input:focus{
  border: 1px solid #e5e4e4;
  border-color: $baseColor;
}

select:focus{
  border: 1px solid #e5e4e4;
  border-color: $baseColor;
}

textarea:focus{
  border: 1px solid #e5e4e4;
  border-color: $baseColor;
}

hr{
  color: #9d9d9d;
}
