// Abstract
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

// Base
@import "base/reset";
@import "base/typography";

// Layouts
@import "layout/header";
@import "layout/sidebar";

// Pages
@import "pages/clients";
@import "pages/dashboard";
@import "pages/databases";
@import "pages/logs";
@import "pages/remote-machines";
@import "pages/settings";
@import "pages/support";
@import "pages/tasks";

