.clients-page{
  color: $baseColor;

  .add-btn{
    color: #3a3aef;
    padding: 4px;
    font-size: 14px;
    border-radius: 4px;
  }

  .task{
    height: 50px;
    margin: 6px 0 6px 0;
    background-color: $white;
    border-radius: 4px;
  }

  .active-page{
    color: black!important;
  }

  a{
    cursor: pointer!important;
  }

  .dropdown-menu{
    font-size: 13px;
    outline: none !important;
  }
  .btn-check:focus + .btn, .btn:focus {
    outline: none !important;
    outline: none !important;
    outline-offset: -2px;
    box-shadow: none!important;
  }
}
