.statistic{
  margin-bottom: 15px;
  color: #5e2b8f !important;
  i{
    font-size: 32px;
    height: 32px;
    width: 32px;
    display: block;
    margin: 0 auto 6px;
  }

  .card{
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    p{
      margin-top: 5px;
      margin-bottom: 0;
    }
  }

  .bar-card{
    padding: 20px;
  }

  .refresh-btn{
    background-color: #5e2b8f;
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 4px;
    font-size: 12px;
  }

  .active-task{
    .task-name{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
