.dashboard-page{
  .statistic{
    margin-bottom: 15px;
    i{
      font-size: 32px;
      height: 32px;
      width: 32px;
      display: block;
      margin: 0 auto 6px;
    }
    .card{
      padding-top: 15px;
      padding-bottom: 15px;
      border: none;
      p{
        margin-top: 5px;
        margin-bottom: 0;
      }
    }

    .bar-card{
      padding: 5px;
    }

    .info-card{
      padding: 0 10px 10px 10px;
      font-size: 13px!important;
      height: 150px!important;
    }

    .refresh-btn{
      color: $lightGreen;
      padding: 2px 5px 2px 5px;
      border-radius: 4px;
      font-size: 12px;
    }

    .active-task{
      .task-name{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .progress-bar{
      background-color: $baseColor;
      font-size: 10px;
    }
  }
}
