.sidebar{
  width: 120px;
  padding-top: 35px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  a:hover{
    color: black;
  }
}

.sidebar-active{
  color: $baseColor;
}

.nav-item{
  font-family: Montserrat;
  font-weight: 500;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px 10px 20px 10px;
  border: none;
  border-bottom: 0.2px solid #dad8d8;
  font-size: 13px;
  cursor: pointer;
  i{
    font-size: 32px;
    height: 32px;
    width: 32px;
    display: block;
    margin: 0 auto 6px;
  }
}



